<br />
<br />
<div class="back-button">
<%= link_to 'Back', action: 'index', :class => "back-button" %>
</div>
<% if !current_user %>
	<div class = "non-user-sc">
				<p class="sc-glyphicon">
					<span class="glyphicon glyphicon-shopping-cart"></span>
						<%= link_to "(0 items)", '#' %>
	</div>

<% end %>
	
			<% if current_user %>
				<p class="sc-glyphicon">
					<span class="glyphicon glyphicon-shopping-cart"></span>
					<% if current_user.shopping_cart == nil %>
						<%= link_to "(0 items)", '#' %>
					<% else %>
					
					<%= link_to current_user.shopping_cart.meggings.count.to_s + " item(s)", shopping_cart_path %>
					<% end %>
				</p>
			<%#= "Welcome " + current_user.username + "!" %><br />
			<% end %>

<!--%=link_to'Edit Megging', edit_megging_path %-->

<!--%=#button_to'Delete Megging', megging_path(@megging), {method: :delete} %-->
<div class = "container">
<div class="row">
  <div class="col-xs-12 col-md-6">
	<dd><%= image_tag @megging.photo_url, size: '400x500' %></dd>
  </div>
  <div class="col-xs-6 col-md-4">
	<dt>Name</dt>
		<dd><%= @megging.name %></dd>

	<dt>Color</dt>
		<dd><%= @megging.color %></dd>

	<dt>Size</dt>
		<dd><%= @megging.size %></dd>

	<dt>Tightness</dt>
		<dd><%= @megging.tightness %></dd>

	<dt> Price</dt>
		<dd><%= @megging.price %></dd><br />

	<div>
		<%if current_user%>
		<%= button_to "Add Item to Cart", add_megging_path(@megging), method: :post %><br /><br />
		<%end%>
	</div>
		

  </div>
</div>


</div>








