

<h1 id="title"> Sign In</h1>
<div class="sign-up">
	<div>

	<%= form_for @user, {url: "/auths", method: "post", :html => {:class => "sign-up-form"}} do |u| %>
		<%= u.text_field :username, placeholder: "Username" %><br /><br />
		<%= u.text_field :email, placeholder: "Email" %><br /><br />
		<%= u.password_field :password, placeholder: "Password" %><br /><br />
		<%= u.submit "Log in" %>
	<% end %>
	</div>


	
	<div>

</div>

