<!-- <h1>Meggings</h1> -->


<div class="container show">
	<div class= "row">
	<% @meggings.each do |megging| %>


 	<div class="col-md-4 col-s-6 col-xs-12 list"> 
 		
				<p class= "megging-name">
					<%= image_tag(megging.photo_url, size: '255x355', class: "image-center") %></p>
				<p class="description">
				<!-- Name: <%= megging.name%><br />
				Color: <%= megging.color %><br />
				Size: <%= megging.size %><br />
				Tightness: <%= megging.tightness %>	<br /> -->
				<%= megging.name %><br />
				<%= link_to "View Details", megging %><br />
				<%= link_to "Add to Cart", '#' %><br /><br />
				</p>		
				
	

	</div>

		<% end %>
	</div>
</div>
