<!-- <h1>Meggings</h1> -->

	
<div class="containershow">
	<div class= "row">
	<% @meggings.each do |megging| %>


 	<div class="col-md-4 col-s-6 col-xs-12 list"> 
 		
				<p class= "megging-name">
					<%= image_tag(megging.photo_url, size: '200x300', class: "image-center") %></p>
				<p class="description">
				<!-- Name: <%= megging.name%><br />
				Color: <%= megging.color %><br />
				Size: <%= megging.size %><br />
				Tightness: <%= megging.tightness %>	<br /> -->
					<%= megging.name %><br />
					<span id="megging-price"><%= megging.price %></span><br />
					<%= link_to "View Details", megging %><br /></p>
				<div class = "add-item-button">
				<%= button_to "Add Item to Cart", add_megging_path(megging), method: :post %><br /><br />
				</div>
						
				
	

	</div>

		<% end %>
	</div>
</div>


