<!DOCTYPE html>
<html>
<head>
  <title>Meggings2</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header id="header">

		<%if current_user %>
			<p class="navbar-text navbar-right"> 
				<%= link_to 'Sign Out', auths_path, method: :delete, class: "navbar-link" %>
			</p>
			<p class="navbar-text navbar-right">
		 		<%= current_user ? "Hello "+ current_user.username.capitalize + "!": "" %>
			</p>
			
				
		<%else %>
		
			<p class="navbar-text navbar-right"> <%= link_to 'Sign Up', new_user_path, class: "navbar-link" %></p>
			<p class="navbar-text navbar-right"> <%= link_to 'Sign In', new_auth_path, class: "navbar-link" %></p>
			<!-- <p class="sign-in-up" id="sign-in"><%= link_to 'Sign Up', new_user_path %><p> -->
		<%end%>

		

		<h1 id="logo"> Meggings </h1>
		 <%#= current_user ? current_user.username : "(not logged in)" %>

		<!-- <h3 id="logo2"> Men's Fashion Redefined.</h3> -->

	

	</header>
	<% if current_user %>
		<p class="pull-right">
			<% if current_user.shopping_cart == nil %>
				<%= link_to "Shopping Cart (0 items)", '#' %>
			<% else %>
			<%= link_to "Shopping Cart (" + current_user.shopping_cart.meggings.count.to_s + " items)", shopping_cart_path %>
			<% end %>
		</p>
		<%#= "Welcome " + current_user.username + "!" %><br />
	<% end %>

<%= yield %>



</body>
</html>
