<!DOCTYPE html>
<html>
<head>
  <title>Meggings2</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header id="header">
		<p id="sign-in"><%= link_to 'Sign Up', new_user_path %><p>
		
		<h1 id="logo"> Meggings </h1>

		<!-- <h3 id="logo2"> Men's Fashion Redefined.</h3> -->
	</header>

<%= yield %>

</body>
</html>
